<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        h1{
            text-align: center;
            color: green;

        }
        p{
            text-align: center;
            color
        }
        .container{
            text-align: center;
            width: 50%;
            margin: auto;
            background-color: lightgray;
        }
    </style>
</head>
<body>
<div class="container">

    <h1>Thank you for contacting me!</h1>
    <p>Your message has been successfully submitted.</p>
</div>
</body>
</html>
